<!-- abraham
<div class="container">
  <% @case_studies.each do |item|%>
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card-product">
          <img src="https://img.icons8.com/nolan/96/000000/stocks.png">
          <div class="card-product-infos">
            <h2> <%= item.name %></h2>
            <div class="sim-info">
              <p><strong>Autor</strong></p>
              <p><%= item.author %></p>
            </div>
            <div class="sim-info">
              <p><strong>Descrição</strong></p>
              <p><%= item.content %> </p>
            </div>
          </div>
           <a class="btn-landing-white" href="<%= item.excel_url %>">Download .xlsx</a>
        </div>
      </div>
    </div>
  <% end%>
</div> -->

<div class="img-sim">
  <div class="caption-sim">
    <span class="border">Casos de Estudo</span>
  </div>
  <div class="intro-sim">
     <p>Estás nos Casos de Estudo! Aqui econtras algun casos de estudo realizados anteriormente, por outros colegas. Podes descarregar o excel e usá-lo como input de agentes. Tem atenção ao tipo de mercado que foi simulado!</p>
  </div>
  <div class="btn-landing-black" style="width: 280px; margin:auto">
    <span>Número de Casos de Estudo: <%= @case_studies.count %></span>
  </div>
  <div style= "margin-top: 10px;">
    <% @case_studies.each_with_index do |item, index|%>
      <div class="card-product">
        <%= image_tag "sim.png" %>
        <div class="card-product-infos">
          <h2>Caso de Estudo <%=index + 1%></h2>
          <div class="sim-info">
            <p><strong>Autor</strong></p>
            <p>Nome: <%= item.author  %></p>
          </div>
          <div class="sim-info">
            <p><strong>Caso de Estudo</strong></p>
            <p>Descrição: <%= item.content %></p>
          </div>
        </div>
        <div class="btn-landing-black">
          <a href="<%= item.excel_url %>">Download .xlsx</a>
        </div>
      </div>
    <% end%>
  </div>
</div>



