<div class="img-res">
  <div class="caption-res">
    <span class="border">Resultados Simulação</span>
  </div>
  <div class="intro-res" style="text-align: center">
    <p>Na tabela apresentada tens os resultados da simulação e podes descarregar o excel de resultados</p>
    <p><strong>Mercado:</strong> <%= @simulation.market_type.capitalize %></p>
    <p><strong>Tipo:</strong> <%= @simulation.pricing_mechanism.capitalize  %> </p>
    <div class="btn-landing-black" style="margin: auto">
      <%=link_to 'Download Xlsx', results_showbmter_path(format: :xlsx)  %>
    </div>
  </div>
    <table style="margin: auto; margin-top: 60px; margin-bottom: 60px">
      <thead>
        <tr>
          <th scope="col">Agente</th>
          <th scope="col">Period</th>
          <th scope="col">up t</th>
          <th scope="col">energy up</th>
          <th scope="col">e_up_price</th>
          <th scope="col">m_price_up</th>
          <th scope="col">total_energy_up</th>
          <th scope="col">ter need up</th>
        </tr>
      </thead>
      <tbody>
        <% a = @results.where(simulation_id: @simulation.id).sort_by {|result| [result.bm_unit_name, result.period]} %>
        <% a.each do |result| %>
          <tr>
            <td><%= result.bm_unit_name %></td>
            <td><%= result.period %></td>
            <td><%= result.up_traded %></td>
            <td><%= result.energy_up %></td>
            <td><%= result.energy_up_price %></td>
            <td><%= result.market_price_up %></td>
            <td><%= result.total_energy_up %></td>
            <td><%= result.ter_need_up %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table style="margin: auto; margin-top: 60px; margin-bottom: 60px">
      <thead>
        <tr>
          <th scope="col">Agente</th>
          <th scope="col">Period</th>
          <th scope="col">down t</th>
          <th scope="col">energy down</th>
          <th scope="col">e_d_price</th>
          <th scope="col">m_price_d</th>
          <th scope="col">total_energy_d</th>
          <th scope="col">ter need d</th>
        </tr>
      </thead>
      <tbody>
        <% a = @results.where(simulation_id: @simulation.id).sort_by {|result| [result.bm_unit_name, result.period]} %>
        <% a.each do |result| %>
          <tr>
            <td><%= result.bm_unit_name %></td>
            <td><%= result.period %></td>
            <td><%= result.down_traded %></td>
            <td><%= result.energy_down %></td>
            <td><%= result.energy_down_price %></td>
            <td><%= result.market_price_down %></td>
            <td><%= result.total_energy_down %></td>
            <td><%= result.ter_need_down %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
