<div class="img-res">
  <div class="caption-res">
    <span class="border">Resultados Simulação</span>
  </div>
  <div class="intro-res" style="text-align: center">
    <p>Na tabela apresentada tens os resultados da simulação e podes descarregar o excel de resultados</p>
    <p><strong>Mercado:</strong> <%= @simulation.market_type.capitalize %></p>
    <p><strong>Tipo:</strong> <%= @simulation.pricing_mechanism.capitalize  %> </p>
    <div class="btn-landing-black" style="margin: auto">
      <%=link_to 'Download Xlsx', results_show_path(format: :xlsx)  %>
    </div>
  </div>
    <table style="margin: auto; margin-top: 60px; margin-bottom: 60px">
      <thead>
        <tr>
          <th scope="col">Agente</th>
          <th scope="col">Period</th>
          <th scope="col">Traded Power</th>
          <th scope="col">Price</th>
          <th scope="col">Market Price</th>
        </tr>
      </thead>
      <tbody>
        <% @results.where(simulation_id: @simulation.id).each do |result| %>
          <tr>
            <td><%= result.agent_name %></td>
            <td><%= result.period %></td>
            <td><%= result.traded_power.round(3) %></td>
            <td><%= result.price %></td>
            <td><%= result.market_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
