<div class="img-res">
  <div class="caption-res">
    <span class="border">Agentes de Mercado</span>
  </div>
  <div class="intro-res" style="text-align: center">
    <p>Neste separador podes carregar os agentes para os diversos tipos de mercado com o excel de input. Podes também carregar as necessidades para o mercado de reservas secundário e terciário</p>
    <p><strong>Mercado:</strong></p>
    <p><strong>Tipo:</strong></p>
    <div class="btn-landing-black" style="margin: auto">

    </div>
  </div>
</div>
      <form action="/import" method="post">
      <input type="file" id="file" />
      <label for="file" />choose a file</label>

      </form>

      <%= form_tag import_path, multipart: true do   %>
      <%= file_field_tag :file   %>
      <input type="submit" class="btn-landing-black">
            <% end %>



      <%= submit_tag "Import"   %>




    <br>
    <%= form_tag importbm_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "Importbm"   %>
    <% end %>
    <br>
    <%= form_tag importsecneed_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "Imporsecneed"   %>
    <% end %>
     <br>
    <%= form_tag importtercneed_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "Importercneed"   %>
    <% end %>
        <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
            </tr>
          </thead>
          <tbody>
            <% @my_buyers.each do |buyer| %>
            <tr>
              <th scope="row"></th>
              <td><%= buyer.name %></td>
              <td><%= buyer.category %></td>
            </tr>
             <% end %>
          </tbody>
        </table>
