

  <%= form_tag import_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "ImportPool"   %>
    <% end %>



    <%= form_tag importsecneed_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "Imporsecneed"   %>
    <% end %>
    <%= form_tag importbmsec_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "Importbmsec"  %>
    <% end %>
    <%= form_tag importbmter_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "Importbmter"   %>
    <% end %>

    <%= form_tag importtercneed_path, multipart: true do   %>
    <%= file_field_tag :file   %>
    <%= submit_tag "Importercneed"   %>
    <% end %>


     <!--  <form action="/import" method="post">
      <input type="file" id="file" />
      <label class="btn-landing-black" />choose a file</label>

      </form>

      <%= form_tag import_path, multipart: true do   %>
      <%= file_field_tag :file   %>
      <input type="submit" >choose a file</input>
      <% end %>
 -->






