<div class="img-par">
  <div class="caption-par">
    <span class="border">Participantes</span>
  </div>
  <div class="intro-par" style="text-align: justify">
    <p>Agora que carregaste o excel de input com os agentes, podes escolher os que queres que participem na simulação do Mercado Diário. Seleciona carregando na checkbox, por default estão todos escolhidos. Escolhidos os participantes podes simular o Mercado Diário Simétrico ou Assimétrico.</p>
  </div>
  <form action="/symm" method="post">
    <div style="text-align: center">
      <input type="submit" value="M. Diário Simétrico" class="btn-landing-black">
      <input type="submit" value="M. Diário Assimétrico" class="btn-landing-black" formaction="asym">
    </div>
    <div style="display: flex">
      <table style="margin: auto; margin-top: 60px; margin-bottom: 60px">
        <thead>
          <tr>
            <th scope="col">Agente</th>
            <th scope="col">Tipo</th>
            <th scope="col">Participante</th>
          </tr>
        </thead>
        <tbody>
          <% @my_buyers.each do |buyer| %>
            <tr>
              <td><%= buyer.name %></td>
              <td><%= buyer.category %></td>
              <td>
                <div class="custom-control custom-checkbox">
                   <input type="checkbox" name="idb[<%= buyer.id %>]" class="custom-control-input" id="<%= buyer.id %>" checked>
                   <label class="custom-control-label" for="<%= buyer.id %>"> </label>
                 </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table style="margin: auto; margin-top: 60px; margin-bottom: 60px">
        <thead>
          <tr>
            <th scope="col">Agente</th>
            <th scope="col">Type</th>
            <th scope="col">Participant</th>
          </tr>
        </thead>
        <tbody>
          <% @my_sellers.each do |seller| %>
            <tr>
              <td><%= seller.name %></td>
              <td><%= seller.category %></td>
              <td>
                <div class="custom-control custom-checkbox">
                   <input type="checkbox" name="ids[<%= seller.id %>]" class="custom-control-input" id="<%= seller.id %>" checked>
                   <label class="custom-control-label" for="<%= seller.id %>"></label>
                 </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </form>
</div>





