<h1>Participants</h1>
<div class ="container">
  <form action="/asym" method="post">
    <div class ="row">
      <% @my_buyers.each do |buyer| %>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="idb[<%= buyer.id %>]" class="custom-control-input" id="<%= buyer.id %>" checked>
          <label class="custom-control-label" for="<%= buyer.id %>"> <%=buyer.name %></label>
        </div>
      <% end %>
    </div>
    <br>
    <div class ="row">
      <% @my_sellers.each do |seller| %>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="ids[<%= seller.id %>]" class="custom-control-input" id="<%= seller.id %>" checked>
          <label class="custom-control-label" for="<%= seller.id %>"> <%= seller.name %></label>
        </div>
      <% end %>
    </div>
    <input type="submit" value="Submit" class="btn-landing">
  </form>
  <br>
  <br>
    <div class="btn-landing col-xs-12 col-sm-12 col-md-2">
      <%=link_to 'Simulate Sym', sym_path  %>
    </div>
      <br>
    <div class="btn-landing col-xs-12 col-sm-12 col-md-2">
      <%=link_to 'Simulate ASym', asym_path  %>
    </div>
</div>
